.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .fadeout {
  animation: fadeout 0.5s ease-in-out forwards;
}

.container p {
  font-family: var(--font-seanbecker-extrabold-italic);
  color: #424242;
  font-size: 1.4rem;
  animation: blink 0.4s ease-in-out infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
